- note = day_habit.nil? ? nil : day_habit.note
- color = note ? 'warning' : 'info'
%div{:class => "card text-dark bg-transparent mb-3 border-#{color}"}
  .card-header.bg-transparent Note
  .card-body
    - if note.blank?
      %p.card-text You don't have a note yet
      %button{type: 'button', 'data-bs-toggle': 'modal', 'data-bs-target': '#staticBackdropCreate', class: 'btn btn-primary btn-sm' }
        Create a note for today
    - else
      %h5.card-title= note.description
      %button{'type': 'button', 'data-bs-toggle': 'modal', 'data-bs-target': '#staticBackdropEdit', class: "btn btn-danger btn-sm"}
        Edit
      = link_to 'Delete', note_path(note), method: :delete, remote: true, class: "btn btn-warning btn-sm"
- if day_habit
  = render 'note/new_form', day: day_habit
- if note
  = render 'note/edit_form', day: day_habit
