.modal.fade#checkpoint-edit-form{ 'data-bs-backdrop': "static", 'data-bs-keyboard':"false", 'tabindex': "-1", 'aria-labelledby': "checkpoint-form-label", 'aria-hidden': "true" }
  - checkpoint = day.checkpoint
  .modal-dialog
    .modal-content
      .modal-header
        %h5.modal-title#checkpoint-form-label Edit checkpoint
        %button.btn-close{ 'type': "button", 'data-bs-dismiss': "modal", 'aria-label': "Close" }
      .modal-body
        = form_with model: checkpoint, url: day_checkpoint_path(day, checkpoint), method: :patch, local: false, id: 'form-checkpoint' do |form|
          %div
            = form.label :title, class: "form-label"
            = form.text_field :title, autocomplete: 'title', class: "form-control", required: true
            = form.label :description, autocomplete: 'description', class: "form-label"
            = form.text_field :description, class: "form-control", required: true
            = form.hidden_field :habit_id, value: day.habit.id
          %div
            = form.submit 'Update', class: 'btn btn-primary my-4'
      .modal-footer
        %button#edit-checkpoint-close-btn.btn.btn-secondary{ 'type':"button", 'data-bs-dismiss': "modal"} Close
