.modal.fade#checkpoint-form{ 'data-bs-backdrop': "static", 'data-bs-keyboard':"false", 'tabindex': "-1", 'aria-labelledby': "checkpoint-form-label", 'aria-hidden': "true" }
  .modal-dialog
    .modal-content
      .modal-header
        %h5.modal-title#checkpoint-form-label Create a new checkpoint
        %button.btn-close{ 'type': "button", 'data-bs-dismiss': "modal", 'aria-label': "Close" }
      .modal-body
        -# = form_with model: Checkpoint.new, url: "/days/#{day.id}/checkpoint", html: {method: :post}, remote: true, id: 'form-note' do |form|
        = form_with model: Checkpoint.new, url: day_checkpoint_index_path(day), method: :post, local: false, id: 'form-note' do |form|
          %div
            = form.label :title, class: "form-label"
            = form.text_field :title, class: "form-control", required: true
            = form.label :description, class: "form-label"
            = form.text_field :description, class: "form-control", required: true
            = form.hidden_field :due_date, value: day.date
            = form.hidden_field :habit_id, value: day.habit.id
          %div
            = form.submit 'Create', class: 'btn btn-primary my-4'
      .modal-footer
        %button#checkpoint-close-btn.btn.btn-secondary{ 'type':"button", 'data-bs-dismiss': "modal"} Close
