= form_with id: 'form-note' do |form|
  %div
    = form.label :description, class: "form-label"
    = form.text_field :description, class: "form-control", required: true
    = form.hidden_field :notebale, value: @day_habit, class: "form-control"
  %div
    = form.submit 'Create note', class: 'btn btn-primary my-4'
