.modal.fade#staticBackdrop{ 'data-bs-backdrop': "static", 'data-bs-keyboard':"false", 'tabindex': "-1", 'aria-labelledby': "staticBackdropLabel", 'aria-hidden': "true" }
  .modal-dialog
    .modal-content
      .modal-header
        %h5.modal-title#staticBackdropLabel Edit habit
        %button.btn-close{ 'type': "button", 'data-bs-dismiss': "modal", 'aria-label': "Close" }
      .modal-body
        = render 'form', habit: @habit
        %small.text-muted A habit takes between 21 and 66 days to generate
      .modal-footer
        %button.btn.btn-secondary{ 'type':"button", 'data-bs-dismiss': "modal"} Close

.card.mt-4.p-3.mb-3
  .card-body
    %h4.d-flex.card-title.habit-title
      = "Habit: #{@habit.name}"
      %button.btn.btn-primary.ml-auto{ 'type': 'button', 'data-bs-toggle': 'modal', 'data-bs-target': '#staticBackdrop'} Edit Habit

    %h6.card-subtitle.mb-2.text-muted= @habit.description
    .row.mt-4
      %p.col-6.text-center= "Start: #{@habit.start_date_format}"
      %p.col-6.text-center= "End: #{@habit.end_date_format}"
    #calendarContainer.w-100
      - month = @habit_days.first.date.strftime('%B')
      %h5.month= month
      - @habit_days.each do |day|
        - unless day.date.strftime('%B') == month
          %h5.month= month = day.date.strftime('%B')
        .day{id: "day-#{day.id}"}
          = link_to day.date.strftime('%d'), day, remote: true, class: "#{'current-day' if @day_habit.date == day.date} d-flex justify-content-center align-items-center text-dark", id: "#{month}-#{day.date.strftime('%d')}"
          - if day.note
            %div{class: 'had-note', 'data-bs-toggle': "tooltip", 'data-bs-placement': "bottom", 'title': "You have a note"}
          - if day.checkpoint
            %div{class: 'had-checkpoint', 'data-bs-toggle': "tooltip", 'data-bs-placement': "bottom", 'title': "You have a checkpoint"}
      .row.w-100.my-3
        .d-flex.flex-wrap
          .notifier-container.me-4
            %span.notifier.notifier--checkpoint
            %span.notifier-label.ms-4 Day with checkpoint
          .notifier-container.me-4
            %span.notifier.notifier--note
            %span.notifier-label.ms-4 Day with note
          .notifier-container.me-4
            %span.notifier.notifier--selected-day
            %span.notifier-label.ms-4 Day selected
    #organizerContainer.row
      - if @habit.end_date >= Date.today
        #day-check-container.col-sm
          = render 'days/day', day_habit: @day_habit
        #note-container.col-md-5
          = render 'note/note', day_note: @day_note
        #checkpoint-container.col-md-5
          = render 'checkpoint/checkpoint', day: @day_habit


    = link_to "Get back to main page", habits_path, class: 'btn btn-light mt-3'

.modal.fade#staticBackdropCreate{ 'data-bs-backdrop': "static", 'data-bs-keyboard':"false", 'tabindex': "-1", 'aria-labelledby': "staticBackdropLabel", 'aria-hidden': "true" }
  .modal-dialog
    .modal-content
      .modal-header
        %h5.modal-title#staticBackdropLabel Create a new note
        %button.btn-close{ 'type': "button", 'data-bs-dismiss': "modal", 'aria-label': "Close" }
      .modal-body
        = render 'form_note', note: @note
        %small.text-muted A habit takes between 21 and 66 days to generate
      .modal-footer
        %button#close-btn-add.btn.btn-secondary{ 'type':"button", 'data-bs-dismiss': "modal"} Close

.modal.fade#staticBackdropEdit{ 'data-bs-backdrop': "static", 'data-bs-keyboard':"false", 'tabindex': "-1", 'aria-labelledby': "staticBackdropLabel", 'aria-hidden': "true" }
  .modal-dialog
    .modal-content
      .modal-header
        %h5.modal-title#staticBackdropLabel Edit note
        %button.btn-close{ 'type': "button", 'data-bs-dismiss': "modal", 'aria-label': "Close" }
      .modal-body
        = render 'form_edit_note', note: @note
        %small.text-muted A habit takes between 21 and 66 days to generate
      .modal-footer
        %button#close-btn-edit.btn.btn-secondary{ 'type':"button", 'data-bs-dismiss': "modal"} Close
