.card.mt-4.p-3
  .card-body
    %h4.card-title= "Habit: #{@habit.name}"
    %h6.card-subtitle.mb-2.text-muted= @habit.description
    .row.mt-4
      %p.col-6.text-center= "Start: #{@habit.start_date_format}"
      %p.col-6.text-center= "End: #{@habit.end_date_format}"
    #calendarContainer.w-100
      - month = @habit.days.first.date.strftime('%B')
      %h5.month= month
      - @habit.days.each do |day|
        - unless day.date.strftime('%B') == month
          %h5.month= month = day.date.strftime('%B')
        = link_to day.date.strftime('%d'), day, remote: true, class: 'day', id: "#{month}-#{day.date.strftime('%d')}"
    #organizerContainer
    - if @habit.end_date >= Date.today
      %h6 Note
      #note
        %p#note-description this is a note
      .checkpoint
        %h6 Checkpoint
        %p.checkpoint-description this is a checkpoint

.modal.fade#staticBackdrop{ 'data-bs-backdrop': "static", 'data-bs-keyboard':"false", 'tabindex': "-1", 'aria-labelledby': "staticBackdropLabel", 'aria-hidden': "true" }
  .modal-dialog
    .modal-content
      .modal-header
        %h5.modal-title#staticBackdropLabel Create a new note
        %button.btn-close{ 'type': "button", 'data-bs-dismiss': "modal", 'aria-label': "Close" }
      .modal-body
        = render 'form_note', note: @note
        %small.text-muted A habit takes between 21 and 66 days to generate
      .modal-footer
        %button#close-btn-add.btn.btn-secondary{ 'type':"button", 'data-bs-dismiss': "modal"} Close

.modal.fade#staticBackdropEdit{ 'data-bs-backdrop': "static", 'data-bs-keyboard':"false", 'tabindex': "-1", 'aria-labelledby': "staticBackdropLabel", 'aria-hidden': "true" }
  .modal-dialog
    .modal-content
      .modal-header
        %h5.modal-title#staticBackdropLabel Edit note
        %button.btn-close{ 'type': "button", 'data-bs-dismiss': "modal", 'aria-label': "Close" }
      .modal-body
        = render 'form_edit_note', note: @note
        %small.text-muted A habit takes between 21 and 66 days to generate
      .modal-footer
        %button#close-btn-edit.btn.btn-secondary{ 'type':"button", 'data-bs-dismiss': "modal"} Close
